<%- include('../header-loggedin') %>
        <div class="container" id="content">
            <%- include('../errors', {error: error}) %>
            <div class="row">
                <div class="col-sm-12">
                    <h2>New task</h2>
                </div>
            </div>
            <div class="row">
                <form action="/tasks/add" method='post'>
                    <div class="col-md-6">
                        <div class="col-sm-12 input-group">
                            <label for="task-name">Task name</label>
                            <input type="text" name="name" class="form-control" id="task-name" />
                        </div>
                        <div class="col-sm-12 input-group">
                            <label for="task-description">Task description</label>
                            <textarea name="description" class="form-control" id="task-description"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-12 input-group">
                            <label for="task-due">Due date</label>
                            <input type="date" name="due" class="form-control" id="task-due" />
                        </div>
                        <div class="col-sm-12 input-group">
                            <label for="task-dependencies">Dependencies</label>
                            <select multiple="multiple" name="dependencies" class="form-control" id="task-dependencies">
                                <% tasks.forEach(function(task){ %>
                                <option value="<%=task._id%>"><%= task.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"
                             <div class="pull-right input-group">
                                <input type="submit" class="pull-right btn btn-success" value="Create task" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
<%- include('../footer.ejs') %>
